<!--<section data-ng-controller="AnalyticsController">
	<table>
		<tr ng-repeat="student in students">
			<td>{{student.id}}</td>
			<td> {{student.score}}</td>
			<td>{{student.name}}</td>
		</tr>
	</table>
	<div test-dir></div>
</section>-->


<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#!/analytics">Overview</a></li>
            <li class="active"><a href="#">Class Statistics</a></li>
            <li><a href="#!/individual_stats">Individual Statistics</a></li>
            <li><a href="#!">New Analytics <span class="badge">1,118</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">

  	<!-- Overview header -->
  	<div class="row">
  			<h2 style="padding-left:15px">Class Statistics</h2>
  	</div>

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            Top Courses
          </div>
          <div class="panel-footer">
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Require Attention
          </div>
          <div class="panel-footer">
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Courses (Med)
          </div>
          <div class="panel-footer">
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Courses Req Imm Atten
          </div>
          <div class="panel-footer">
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
              <li>Something</li>
          </div>
        </div>
      </div>
    </div>


		<div class="row">
		<section data-ng-controller="ClassController">
			<div id="class-chart" style="height: 250px;"></div>
		</section>
		<section data-ng-controller="IndvController">
						<div id="indv-chart" style="height: 250px;"></div>
		</section>
  </div>
</div> 

<!--<div class="nav navbar-nav side-nav">
<ul class="nav navbar-nav side-nav">
      <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> Charts</a></li>
     </ul>
</div>

<div id="page-wrapper">
		<section data-ng-controller="ClassStatController">
			<div> Classroom Breakdown </div>
		   <div class-stats bar-height="20" bar-padding="5" data='data'></div>
		</section>
		<section data-ng-controller="SubjectStatController">
			<div> Subject Breakdown </div>
			<div subject-stats bar-height="20" bar-padding="5" data='data'></div>
		</section>
</div>
</div>-->