<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#!/analytics">Overview</a></li>
            <li><a href="#!/class_stats">Class Statistics</a></li>
            <li class="active"><a href="#">Individual Statistics</a></li>
            <li><a href="#!/new_reports">New Reports <span class="badge">53</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">

  	<!-- Overview header -->
  	<div class="row">
  			<h2 style="padding-left:15px">Individual Statistics</h2>
  	</div>

    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            Top Courses
          </div>
          <div class="panel-footer">
              <li>Adv. Math I (3-A)</li>
              <li>Adv. Math II (4-A)</li>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Require Attention
          </div>
          <div class="panel-footer">
            <small>None</small>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-warning">
          <div class="panel-heading">
            Courses (Med)
          </div>
          <div class="panel-footer">
              <li>Pre-algebra</li>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-danger">
          <div class="panel-heading">
            Courses Req Imm Atten
          </div>
          <div class="panel-footer">
            <small>None</small>
          </div>
        </div>
      </div>
    </div>

    <!-- start graph view -->
    <div class="row" style="padding-left:15px; padding-right:15px;">
      <section data-ng-controller="ClassController">
        <!--<div class="row">
        <div class="col-sm-9">-->
        <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Classroom Statistics: January 1, 2014 - May 15, 2015</h3>
                </div>
                <div class="panel-body">
                    <div id="class-chart" style="height: 250px;"></div>
                </div>
          </div>
      </section>
    </div>
    <div class="row" style="padding-left:15px; padding-right:15px;">
      <section data-ng-controller="IndvController">
        <!--<div class="row">
        <div class="col-sm-9">-->
        <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Individual Statistics: January 1, 2014 - May 15, 2015 (State Avg = 53) </h3>
                </div>
                <div class="panel-body">
                    <div id="indv-chart" style="height: 250px;"></div>
                </div>
          </div>
      </section>
    </div>
    <!-- end graph view -->
</div> 