<div class="row">
  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#!/analytics">Overview</a></li>
            <li><a href="#/class_stats">Class Statistics</a></li>
            <li><a href="#!/individual_stats">Individual Statistics</a></li>
            <li class="active"><a href="#">New Reports <span class="badge">53</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <section data-ng-controller="StudentListController">
  	<!-- Overview header -->
  	<div class="row" style="padding-left:15px">
  			<h2 >Daily Aggregated Reports</h2>
  	</div>

    <div class="alert alert-success">
      53 new reports aggregated for your class.
    </div>

    <!-- start showing student list -->
    <div class="row" style="padding-left:15px">
          <ul class="nav nav-pills">
          <li class="active"><a href="#">Overview</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Students with Updated Results <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat = "student in students">
                  <a href="#{{student.id}}">{{student.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
    </section>
  </div>
  <!-- end student list -->

  <!-- tabbed areas -->
  <!-- Tab panes -->
  <section data-ng-controller="DropDownController">
    <div class="tab-content">
      <div ng-repeat = "student in students">
        <div class="tab-pane" id="{{student.id}}"></div>
      </div>
    </div>
  </section>

  </div> 